.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
    text-align: center;
}

.card {
    border: 1px solid black;
    margin: 5% 0%;
}

.results {
    padding-top: 1%;
}

.cardHeader {
    background-color: lightgray;
    padding-left: 3%;
}
